.add-recipe {
	height: 100%;
	padding-bottom: 64px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.add-recipe-form label {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@media screen and (min-width: 1024px) {
	.add-recipe-form {
		width: 85%;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
}
