.recipe-details {
	min-height: 100vh;
	padding-bottom: 64px;
	/* display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center; */
}

.recipe-details-img {
	width: 100%;
	height: 200px;
	object-fit: cover;
	object-position: center;
	margin: 0;
	padding: 0;
	border-top-left-radius: inherit;
	border-bottom-left-radius: inherit;
}

.recipe-details p {
	margin: 0;
	padding: 0;
}
